layout python3
[[ -d $PWD/.env ]] && unlink $PWD/.env
ln -s $PWD/.direnv/$(basename $VIRTUAL_ENV)/ $PWD/.env
source_env_if_exists $PWD/.envrc-private
export AWS_PROFILE=yb-apj-demo
eval "$(aws configure export-credentials --profile $AWS_PROFILE --format env)"
